

/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;

  --hue: 0;
  --first-color: hsl(var(--hue), 88%, 61%);
  --first-color-alt: hsl(var(--hue), 88%, 45%);

  /*========== COLORS ==========*/

  --title-color: hsl(250, 8%, 15%);
  --text-color: hsl(250, 8%, 35%);
  --body-color: hsl(250, 60%, 98%);
  --container-color: hsl(0, 0%, 100%);
  --shadow: hsla(0, 0%, 15%, 0.1);
  --scroll-bar-color: hsl(250, 12%, 90%);
  --scroll-thumb-color: hsl(250, 12%, 80%);

  /*========== FONT AND TYPOGRAPHY ==========*/

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========== FONT WEIGHT ==========*/

  --font-medium: 500;
  --font-bold: 600;

  /*========== MARGENES BTN ==========*/

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== TRANSITION ==========*/

  --transition-025: 0.25s;
  --transition-03: 0.3s;
  --transition-04: 0.4s;

  /*========== BORDER RADIUS ==========*/

  --border-radius-15: 15px;
  --border-radius-10: 10px;
  --border-radius-5: 5px;
  --border-radius-3: 3px;
  --border-radius-circle: 100%;

  /*========== Z INDEX ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */

@media screen and (max-width: 992px) {
  :root {
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

body.dark-theme {
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 89%);
  --body-color: hsl(0, 0%, 21%);
  --container-color: hsl(0, 0%, 25%);
  --shadow: hsla(0, 0%, 93%, 0.1);
  --scroll-bar-color: hsl(240, 1%, 25%);
  --scroll-thumb-color: hsl(260, 2%, 26%);

  /**/
  --hue: 375;
  --first-color: hsl(var(--hue), 88%, 61%);
  --first-color-alt: hsl(var(--hue), 88%, 45%);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.shop__button,
button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section {
  padding: 7rem 0 2rem;
}

.section__title,
.breadcrumb__title {
  font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
  margin-bottom: var(--mb-3);
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
  text-align: center;
}

.breadcrumb__subtitle span {
  color: var(--first-color);
}

/*=============== LAYOUT ===============*/

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/*=============== HEADER SECTION ===============*/

.header {
  width: 100%;
  /* background-color: var(--container-color); */
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav__close,
.message__toggle,
.nav__logo,
.nav__toggle,
.nav__shop {
  color: var(--title-color);
}

.nav__logo {
  text-transform: lowercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-left: auto;
}

.nav__shop {
  position: relative;
}

.cart-count {
  width: 1rem;
  height: 1rem;
  font-size: 9px;
  background-color: var(--title-color);
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  padding: 0.25rem;
  bottom: 0;
  right: -6px;
}

.nav__toggle,
.message__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  transition: var(--transition-03);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.4rem;
  right: 1.1rem;
  cursor: pointer;
  /* background-color: peru; */
}

/*===== MENU MOBILE GRID =====*/
.nav__close,
.nav__toggle {
  display: none;
}

/*===== CHANGE BACKGROUND HEADER =====*/
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 2px 40px var(--shadow);
  transition: var(--transition-025);
}

/*===== MENU ACTIVE LINK  =====*/
.active-link {
  position: relative;
}

.active-link::before {
  /* bottom: -0.75rem; 
   left: 45%; 
   width: 50px; 
  background-color: var(--title-color); 
  border-radius: var(--border-radius-circle);*/

  content: "";
  position: absolute;
  min-width: 100%;
  bottom: -0.5rem;
  height: 2px;
  background-color: var(--first-color);
  border-radius: var(--border-radius-5);
}

/*=============== BUTTONS ===============*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  font-weight: var(--font-medium);
  border-radius: var(--border-radius-5);
  transition: var(--transition-03);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
}

.button--link {
  color: var(--title-color);
}

.button--link:hover {
  color: var(--first-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

/*=============== MESSAGE  ===============*/

.message {
  position: fixed;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  /* z-index: 999; */
  width: 420px;
  box-shadow: 5px 5px 20px var(--shadow);
  height: 30%;
  top: 0;
  right: -100%;
  /* left:-2rem; */
  padding: 3.5rem 2rem;
  transition: var(--transition-04);
}

.message__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.message__close {
  /* background-color: lightgray; */
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 0.7rem;
  right: 0.9rem;
  cursor: pointer;
}

.message__content {
  background-color: var(--container-color);
  border-radius: var(--border-radius-5);
  padding: 0.75rem 1rem 0.25rem;
}

/*===== SHOW  =====*/
.show-message {
  right: 0;
}

/*=============== CART  ===============*/

.cart {
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 420px;
  box-shadow: -2px 0 4px var(--shadow);
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  transition: var(--transition-04);
  overflow-y: scroll;
}

.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.cart__close {
  /* background-color: lightgray; */
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 0.7rem;
  right: 0.9rem;
  cursor: pointer;
}

.cart__container {
  display: grid;
  row-gap: 1.5rem;
}

.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart__box {
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
}

.cart__img {
  width: 85px;
}

.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.cart__price,
.cart__stock {
  /* display: block; */
  display: inline-block;

  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  /* padding-bottom: 1rem; */
}

.cart__stock small {
  color: var(--title-color);
}

.cart__amount {
  column-gap: 3rem;
}

.cart__amount,
.cart__amount-content {
  display: flex;
  align-items: center;
}

.cart__amount-content {
  column-gap: 1rem;
}

.cart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  cursor: pointer;
}

.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

/*CART*/

.cart__prices {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__prices-item,
.cart__prices-total {
  color: var(--title-color);
}

.cart__prices-item {
  font-size: var(--small-font-size);
}

.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.cart__button .button {
  margin-top: 0.5rem;
  background-color: var(--body-color);
  border: solid 1px var(--first-color);
  color: var(--title-color);
  /* text-align: center;
  align-items: center;
  justify-content: center; */
}

.cart__button .button:hover {
  background-color: var(--first-color-alt);
  border: solid 1px var(--first-color-alt);
}

.cart__button a {
  min-width: 100%;
  text-align: center;
  justify-content: center;
}

/*===== SHOW CART =====*/

.show-cart {
  right: 0;
}

/*=================== MAIN  ==================*/
/*=============== HOME  ===============*/

.home__content {
  padding: 9rem 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.home__group {
  /* background-color: palegreen; */
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.home__img {
  height: 420px;
  transform: translateY(-3rem);
  justify-content: center;
}

.home__indicator {
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: var(--border-radius-circle);
  position: absolute;
  bottom: 15%;
  left: 45%;
}

.home__indicator::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 75px;
  background-color: var(--title-color);
  top: 0;
  right: 45%;
}

.home__details-img {
  position: absolute;
  bottom: 0;
  right: 58%;
}

.home__details-title {
  font-weight: var(--font-bold);
}

.home__details-title,
.home__details-subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 109%;
  margin-bottom: var(--mb-1-5);
}

.home__description {
  margin-bottom: var(--mb-2-5);
  padding-right: 2rem;
}

.home__buttons {
  display: flex;
  justify-content: space-between;
}

/*===== SWIPER =====*/

.swiper-pagination {
  position: initial;
  margin-top: var(--mb-2-5);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}

/*=============== DISCOUNT  ===============*/

.discount__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  column-gap: 7rem;
  background-color: var(--container-color);
  padding: 1.2rem 0;
  border-radius: var(--border-radius-15);
}

.discount__img {
  width: 300px;
}

.discount__data {
  padding-left: 6rem;
  text-align: center;
}

.discount__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
  text-align: left;
}

/*=============== NEW ARRIVAL  ===============*/

.new__container {
  padding-top: 1rem;
}

.new__content {
  position: relative;
  background-color: var(--container-color);
  width: 310px;
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
  cursor: grab;
}

.new__tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-5);
}

.new__img {
  width: 180px;
  margin-bottom: var(--mb-1);
  transition: var(--transition-03);
}

.new__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.new__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.new__prices {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.new__price {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.new__discount {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.new__button {
  display: inline-flex;
  padding: 0.7rem;
  border-radius: var(--border-radius-circle);
  position: absolute;
  bottom: 6.5rem;
  right: 3.5rem;
}

.new__icon {
  font-size: 1.25rem;
}

.new__content:hover .new__img {
  transform: translateY(-0.5rem);
}

.new__content:hover {
  right: 0;
}

/*=============== STEPS ===============*/

.steps__bg {
  background-color: var(--container-color);
  padding: 3.5rem 2.5rem;
  border-radius: 1rem;
}

.steps__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding-top: 1rem;
}

.steps__card {
  background-color: var(--body-color);
  padding: 2rem 2.5rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.4rem 0.65rem;
  border-radius: var(--border-radius-5);
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  transition: var(--transition-03);
}

.steps__card-title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
}

/*=============== NEWSLETTER ===============*/

.newsletter__container {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.newsletter__description {
  padding: 0 3rem;
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.newsletter__form {
  background-color: var(--container-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-15);
}

.newsletter__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--title-color);
}

.newsletter__input::placeholder {
  color: var(--text-color);
}

/*=============== FOOTER ===============*/

.footer {
  position: relative;
  overflow: hidden;
}

.footer__container {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 1rem;
}

.footer__logo {
  color: var(--title-color);
  text-transform: lowercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-bottom: var(--mb-1);
}

.footer__logo-icon {
  font-size: 1.15rem;
}

.footer__description {
  margin-bottom: var(--mb-2-5);
}

.footer__social {
  display: flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  display: inline-flex;
  background-color: var(--container-color);
  padding: 0.25rem;
  color: var(--title-color);
  font-size: 1.15rem;
  border-radius: var(--border-radius-5);
  transition: var(--transition-03);
}

.footer__social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.footer__links {
  display: grid;
  row-gap: 0.35rem;
}

.footer__link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: var(--transition-03);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 6rem;
  /* background-color: palegreen; */
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 2rem;
  bottom: -40%;
  background-color: var(--first-color);
  border-radius: var(--border-radius-circle);
  display: inline-flex;
  padding: 0.75rem;
  z-index: var(--z-tooltip);
  opacity: 0.6;
  transition: var(--transition-03);
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.7rem;
  color: var(--container-color);
}

/*===== SHOW SCROLL UP =====*/

.show-scroll {
  bottom: 4rem;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--border-radius-15);
}

/*=============== SHOP PAGE ===============*/

.shop__container {
  grid-template-columns: 1.7fr 3.3fr;
  column-gap: 1.8rem;
}

.sidebar {
  padding: 1.8rem;
  background-color: var(--container-color);
  border-radius: 1rem;
}

.filter__title {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.filter__subtitle {
  margin: 1.25rem 0 var(--mb-0-5);
  font-size: var(--normal-font-size);
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-0-5);
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.filter p {
  flex: 1;
}

.filter input {
  margin-right: var(--mb-0-75);
  cursor: pointer;
}

/*===== ======*/

.shop__items {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.shop__content {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}

.shop__img {
  width: 150px;
  margin-bottom: var(--mb-1);
  transition: var(--transition-03);
}

.shop__tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-5);
}

.shop__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.shop__subtitle {
  display: block;
  font-style: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.shop__prices {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.shop__price {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.shop__discounts {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.shop__button {
  display: inline-flex;
  padding: 0.7rem;
  border-radius: var(--border-radius-circle);
  position: absolute;
  bottom: 7rem;
  right: 4rem;
}

.shop__icon {
  font-size: 1.25rem;
}

.shop__content:hover .shop__img {
  transform: translateY(-0.5rem);
}

.shop__content:hover {
  right: 0;
}

/*=============== DETAILS PAGE ===============*/

.details__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.product__images {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.product__img {
  background-color: var(--container-color);
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-5);
  position: relative;
  cursor: pointer;
}

.details__img-tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--container-color);
  font-size: var(--small-font-size);
  padding: 0.16rem 0.5rem;
  border-radius: var(--border-radius-3);
}

.product__img img {
  width: 180px;
}

.details__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.details__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  margin-bottom: var(--mb-1);
}

.rating span {
  font-size: var(--small-font-size);
}

.rating i {
  margin-right: 0.1rem;
  color: hsl(41, 100%, 50%);
  cursor: pointer;
}

.details__prices {
  display: inline-flex;
  align-items: center;
  column-gap: 0.8rem;
  margin-bottom: var(--mb-1-5);
}

.details__price {
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-size: var(--h3-font-size);
}

.details__discount {
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-decoration: line-through;
}

.discount__percentage {
  background-color: var(--title-color);
  padding: 0.25rem 0.4rem;
  font-size: var(--smaller-font-size);
  color: var(--container-color);
  /* border-radius: var(--border-radius-3); */
}

.description__title {
  margin-bottom: var(--mb-0-5);
  font-size: var(--normal-font-size);
}

.description__details {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
}

.details .cart__amount {
  margin-bottom: var(--mb-2-5);
}

.cart__amount-heart {
  cursor: pointer;
}

:is(.details .cart__amount-heart, .details .cart__amount-box):hover {
  color: var(--first-color);
}

/*=============== ABOUT PAGE ===============*/

.about__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
}

.about__img {
  width: 380px;
  justify-self: center;
  border-radius: var(--border-radius-3);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.about__title {
  margin-bottom: var(--mb-1);
  text-align: left;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__details {
  display: grid;
  row-gap: 1rem;
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/* .about__details-icon::before {
color:#fff;

  } */

/*===============CONTACT PAGE ===============*/

.contact__container {
  grid-template-columns: 0.9fr 1.1fr;
  column-gap: 1.5rem;
}

.contact__information {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contact__form {
  row-gap: 1.5rem;
}

.contact__content {
  background-color: var(--container-color);
  border-radius: var(--border-radius-10);
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__inputs {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.contact__input {
  width: 100%;
  background-color: var(--container-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  resize: vertical;
}

/*=============== PAGINATION ===============*/

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 0.8rem;
  margin-top: var(--mb-2-5);
  font-size: var(--normal-font-size);
}

.pagination span {
  width: 2.2rem;
  height: 2.2rem;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .current {
  background-color: var(--first-color);
  color: #fff;
}

.pagination__icon {
  font-size: var(--h2-font-size);
}

/*=============== LIGHTBOX ===============*/

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: var(--z-fixed);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  padding: 1.8rem;
}

.lightbox__img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 450px;
  cursor: pointer;
  background-color: var(--container-color);
  display: block;
  padding: 0.6rem;
}

.lightbox__content {
  position: relative;
}

.lightbox__close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -2.6rem;
  right: 0;
  font-size: 2rem;
  color: var(--container-color);
  text-align: right;
  line-height: 40px;
  cursor: pointer;
}

.lightbox__caption {
  position: absolute;
  left: 0;
  bottom: -2.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--normal-font-size);
  color: var(--container-color);
  font-weight: var(--font-medium);
  z-index: -1;
}

.lightbox__controls .prev__item,
.lightbox__controls .next__item {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--body-color);
  color: var(--title-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  top: 50%;
  margin-top: -20px;
  z-index: 110;
  transition: all var(--transition-03) ease;
}

.lightbox__controls .prev__item:hover,
.lightbox__controls .next__item:hover {
  transform: scale(1.1);
}

.lightbox__controls .prev__item:active,
.lightbox__controls .next__item:active {
  transform: scale(0.9);
}

.lightbox__controls .prev__item {
  left: 1.8rem;
}

.lightbox__controls .next__item {
  right: 1.8rem;
}

.lightbox__controls .prev__item .bx,
.lightbox__controls .next__item .bx {
  font-size: 2rem;
  line-height: 40px;
}

/*===== LIGHTBOX OPEN =====*/

.lightbox.open {
  display: flex;
}

/*===== LIGHTBOX OPEN ANIMATION =====*/

.lightbox.open .lightbox__content {
  animation: lightboxImage 0.5s ease;
}

@keyframes lightboxImage {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/*=============== BREAKPOINTS ===============*/
